[submodule "Murat/vendor/glfw"]
	path = Murat/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Murat/vendor/assimp"]
	path = Murat/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Murat/vendor/imgui"]
	path = Murat/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Murat/vendor/spdlog"]
	path = Murat/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Murat/vendor/glm"]
	path = Murat/vendor/glm
	url = https://github.com/g-truc/glm.git
