[submodule "Murat/vendor/glfw"]
	path = Murat/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Murat/vendor/assimp"]
	path = Murat/vendor/assimp
	url = https://github.com/assimp/assimp.git
